{{define "nav"}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{range .Nav.Navs}}
                    <li><a href="javascript:viod(0);">{{.Text}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div><!--E navbar-inner-->
    <div class="navsub">
        {{range .Nav.Navs}}
        <ul class="nav" style="display: none;">
            {{range .Items}}
            <li><a href="{{.Path}}" {{if .Outside}}target="_blank"{{end}}>{{.Text}}</a></li>
            {{end}}
        </ul>
        {{end}}
    </div><!--E navsub-->
    <div class="history"><i class="icon-tags"></i> 你查看过：<a href="javascript:viod(0);">示例模块</a> ， <a href="javascript:viod(0);">测试自由网址</a></div><!--E history-->
</div><!--E navbar-->
<script type="text/javascript">
    $('.navbar-inner li:first').addClass('active');
    $('.navsub .nav:first').show();
    $('.navbar-inner li').mouseover(function(){
        $('.navsub .nav').hide();
        $('.navbar-inner li').removeClass('active')
        $(this).addClass('active');
        $('.navsub .nav:eq('+$(this).index()+')').show();
    });
</script>
{{end}}
